@model Garage_2._0.Models.ParkedVehicle

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <h1 class="text-center">@ViewData["Title"] Vehicle</h1>

    <h4 class="text-muted">Details for Parked Vehicle</h4>
    <hr />

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <dl class="row shadow p-4 rounded bg-white">
                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.VehicleType)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.VehicleType)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.RegistrationNumber)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.RegistrationNumber)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Color)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Color)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Brand)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Brand)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Model)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.NumberOfWheels)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.NumberOfWheels)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ArrivalTime)
                </dd>
            </dl>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
